<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <title>
        Node Server
    </title>
    <body>
        {{> header}}
        <ul>
            {{#each projects}}
                <li>{{.}}</li>
            {{/each}}
        </ul>
        
        {{> footer }}
    </body>
    
</html>